form, p {
  margin: 2px;
}

input {
  border-radius: 20px; /*  round border */
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 15c;
  font-family: 'Papyrus';
  width: 300px;
  margin-top: 7px;
}

label {
  width: 200px;
  font-weight: bold;
  font-family: 'Segoe Script';
  display: inline-block;
  margin-top: 20px;
}

  label.error {
      color: red;
      font-size: 1rem;
      display: block;
      margin-top: 5px;
      font-family: 'Papyrus';
  }
  
  input.error, textarea.error {
      border: 1px dashed red;
      font-weight: 100;
      color: red;
  }
  
  [type="submit"],button {
      border-radius: 20px; /*  round border */
      
      background: rgb(54, 150, 206);
      border: none;
      font-size: 20c;
      font-family: 'Papyrus';
      width: 200px;
      height: 50px;
      margin-top: 7px;
  }


.container {
    display: flex;
    width: 100%;
    height: 200px;}
#settingsPage {
    flex: 1;
}

#gamePage {
    flex: 3;
}

#aboutDialog {
  width: 100;
   height: 350px;
   position: absolute;
   left: 30%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

/* eden */
.heart{
  width: 45px;
  height: 45px;
}
