form {
  margin: 2px;
  height: 50%;
}

input {
  border-radius: 20px; /*  round border */
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 15c;
  font-family: 'Papyrus';
  width: 270px;
  /* margin-top: 7px; */
}

label {
  width: 170px;
  font-weight: bold;
  font-family: 'Segoe Script';
  display: inline-block;
  margin-top: 20px;
}

  label.error {
      color: red;
      font-size: 1rem;
      display: block;
      margin-top: 5px;
      font-family: 'Papyrus';
  }
  
  input.error, textarea.error {
      border: 1px dashed red;
      font-weight: 100;
      color: red;
  }
  
  [type="submit"], button {
      border-radius: 20px; 
      
      background-color: #fae79f;
      border: none;
      font-size: 20c;
      font-family: 'Papyrus';
      width: 300px;
      height: 50px;
      margin-top: 7px;
  }

/* for the game and setting form */
.container {
    display: flex;

  }

  #settings-form input{
    border-radius: 20px; /*  round border */
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 15c;
    font-family: 'Papyrus';
    width: 140px;
    /* margin-top: 7px; */
  }

  #settings-form label {
    width: 300px;
    font-weight: bold;
    font-family: 'Segoe Script';
    display: inline-block;
    margin-top: 20px;
  }

  #settings-form [type="submit"] {
    width: 300px;
    font-family: 'Segoe Script';
    display: inline-block;
    margin-top: 20px;
  }
  #settings-form button {
    width: 100px;
    font-family: 'Segoe Script';
    display: inline-block;
    margin-top: 20px;
  }